<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      <h1 class=" ion-text-center"><b>Notre Menu</b></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <swiper [config]="bannerConfig" class="banners">
    <ng-template swiperSlide *ngFor="let banner of banners">
      <img [src]="banner?.banner" />
    </ng-template>
  </swiper>


  <ion-row class="ion-text-center category" *ngIf="categories.length > 0">
    <swiper [config]="categoryConfig">
      <ng-template swiperSlide *ngFor="let category of categories">
        <div align="center">
          <ion-avatar slot="start">
            <img [src]="category?.image" />
          </ion-avatar>
        </div>
        <ion-label class="ion-text-wrap">{{category?.name}}</ion-label>
      </ng-template>
    </swiper>
  </ion-row>

  <h1 class="list-header">Populaires</h1>

  <div class="food-list">
    <app-category-item *ngFor="let food of foods" [item]="food" (clicked)="goToDetailPage(food.id)"></app-category-item>
  </div>

</ion-content>
