<ion-content>
  <img src="../../../assets/background_signup.png" class="background-image">


  <div class="background-filter">
    <div class="shape"> <img src="../../assets/icon/shape.svg" /> </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <b>Saisissez votre adresse <br> mail pour la recuperation!</b>
        </ion-card-title>

      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input placeholder="Adresse Email"></ion-input>
        </ion-item>


        <div class="bottom-section">
          <ion-button>Recevoir le lien </ion-button>
          <span> <b>Retour sur la page de </b> <a [routerLink]="['/login']"><b>Connexion</b> </a></span>
        </div>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
